<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sh.RTMP_Pusher">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true">
        <activity android:name="com.sh.camera.MainActivity">

        </activity>
        <activity android:name="com.sh.camera.FileActivity"></activity>
        <activity android:name="com.sh.camera.SelectTimeActivity"></activity>
        <activity android:name="com.sh.camera.SetActivity"></activity>
        <!-- <activity android:name="com.sh.camera.UpdateActivity" > -->
        <!-- </activity> -->
        <activity android:name="com.sh.camera.vedioPlay.MoviePlayer"></activity>

        <!--<service android:name="com.sh.camera.service.MainService"></service>-->

        <activity android:name="com.sh.camera.LiveActivity">

        </activity>
    </application>

</manifest>